
.main-title{
    color:rgb(0, 0, 0);
    font-size: xx-large;
    margin: 20px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 100%;
}
.cap:hover 
{
    color: rgb(41, 199, 151);
}
.point::before {
    content: '•';
    margin: 0px 10px 0px 0px;
    color: rgb(41, 199, 151);
}
.item-title {
    color:rgb(0, 0, 0);
    margin: 20px 0px 0px 20px;
    font-size: large;
}
.button {
    background-color: rgb(41, 199, 151);
    padding: 10px 40px 10px 40px;
    margin: 20px 10px 20px 10px;
}
.block:hover {
    background-color:rgb(166, 76, 251);
}
.block:hover > .point {
    color:rgb(166, 76, 251);
}